body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1874px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1887px;
  height:939px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:1886px;
  height:938px;
}
#u1341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1723px;
  height:911px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:28px;
  width:1722px;
  height:910px;
}
#u1342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:6px;
  width:73px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8BBBE;
}
#u1343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:15px;
  height:15px;
}
#u1344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:6px;
  width:35px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8BBBE;
}
#u1345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:6px;
  width:15px;
  height:12px;
}
#u1346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:8px;
  width:13px;
  height:12px;
}
#u1347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:6px;
  width:15px;
  height:15px;
  font-size:12px;
  color:#9EA3A8;
}
#u1348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:8px;
  width:12px;
  height:12px;
}
#u1349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:6px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8BBBE;
}
#u1350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:43px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:158px;
  height:42px;
  color:#FFFFFF;
  text-align:left;
}
#u1352_img.mouseOver {
}
#u1352.mouseOver {
}
#u1352_img.selected {
}
#u1352.selected {
}
#u1352_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:110px;
  word-wrap:break-word;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:64px;
  width:9px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:60px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1354_img.mouseOver {
}
#u1354.mouseOver {
}
#u1354_img.selected {
}
#u1354.selected {
}
#u1354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:43px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:158px;
  height:42px;
  color:#FFFFFF;
  text-align:left;
}
#u1357_img.mouseOver {
}
#u1357.mouseOver {
}
#u1357_img.selected {
}
#u1357.selected {
}
#u1357_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:110px;
  word-wrap:break-word;
}
#u1358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:147px;
  width:9px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:143px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1359_img.mouseOver {
}
#u1359.mouseOver {
}
#u1359_img.selected {
}
#u1359.selected {
}
#u1359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:43px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:158px;
  height:42px;
  color:#FFFFFF;
  text-align:left;
}
#u1360_img.mouseOver {
}
#u1360.mouseOver {
}
#u1360_img.selected {
}
#u1360.selected {
}
#u1360_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:110px;
  word-wrap:break-word;
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:43px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:158px;
  height:42px;
  color:#FFFFFF;
  text-align:left;
}
#u1361_img.mouseOver {
}
#u1361.mouseOver {
}
#u1361_img.selected {
}
#u1361.selected {
}
#u1361_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:110px;
  word-wrap:break-word;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:43px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:287px;
  width:158px;
  height:42px;
  color:#FFFFFF;
  text-align:left;
}
#u1363_img.mouseOver {
}
#u1363.mouseOver {
}
#u1363_img.selected {
}
#u1363.selected {
}
#u1363_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:110px;
  word-wrap:break-word;
}
#u1364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:9px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:291px;
  width:9px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:287px;
  width:8px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1365_img.mouseOver {
}
#u1365.mouseOver {
}
#u1365_img.selected {
}
#u1365.selected {
}
#u1365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:1719px;
  top:6px;
  width:75px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8BBBE;
}
#u1366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:1798px;
  top:6px;
  width:35px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8BBBE;
}
#u1367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:1843px;
  top:6px;
  width:12px;
  height:15px;
}
#u1368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:48px;
  width:116px;
  height:27px;
  font-size:23px;
}
#u1369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1388px;
  height:44px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:90px;
  width:1387px;
  height:43px;
}
#u1370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:90px;
  width:1387px;
  height:43px;
}
#u1371_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1387px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1388px;
  height:435px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:175px;
  width:1387px;
  height:434px;
}
#u1372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1388px;
  height:53px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:175px;
  width:1387px;
  height:52px;
}
#u1373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:34px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:184px;
  width:495px;
  height:34px;
}
#u1374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:193px;
  width:83px;
  height:16px;
}
#u1375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:259px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:72px;
  width:267px;
  height:258px;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:90px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:1594px;
  top:117px;
  width:256px;
  height:1px;
}
#u1378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:128px;
  width:61px;
  height:27px;
  font-size:12px;
  color:#797979;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:1806px;
  top:128px;
  width:44px;
  height:27px;
  font-size:12px;
  color:#797979;
}
#u1380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:184px;
  width:29px;
  height:16px;
}
#u1381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:217px;
  width:43px;
  height:16px;
}
#u1382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:254px;
  width:57px;
  height:16px;
}
#u1383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:44px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:287px;
  width:267px;
  height:43px;
}
#u1384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:1814px;
  top:184px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#0085BA;
}
#u1385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:1814px;
  top:217px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#0085BA;
}
#u1386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:1821px;
  top:254px;
  width:15px;
  height:16px;
  text-decoration:underline;
  color:#0085BA;
}
#u1387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:28px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:1807px;
  top:295px;
  width:44px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:181px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:354px;
  width:267px;
  height:180px;
}
#u1389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:13px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:367px;
  width:57px;
  height:12px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:1594px;
  top:393px;
  width:256px;
  height:1px;
}
#u1391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:410px;
  width:100px;
  height:16px;
}
#u1392_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1392_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:441px;
  width:100px;
  height:16px;
}
#u1393_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1393_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:475px;
  width:100px;
  height:16px;
}
#u1394_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1394_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:17px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:509px;
  width:131px;
  height:16px;
  text-decoration:underline;
  color:#0085BA;
}
#u1395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:181px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:577px;
  width:267px;
  height:180px;
}
#u1396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:590px;
  width:29px;
  height:12px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:1594px;
  top:616px;
  width:256px;
  height:1px;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:36px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:640px;
  width:164px;
  height:35px;
}
#u1399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:1614px;
  top:645px;
  width:149px;
  height:22px;
}
#u1400_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:1786px;
  top:643px;
  width:50px;
  height:30px;
  color:#5E5E5E;
}
#u1401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:693px;
  width:183px;
  height:16px;
  color:#5E5E5E;
}
#u1402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:731px;
  width:113px;
  height:16px;
  text-decoration:underline;
  color:#0085BA;
}
#u1403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:103px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:1594px;
  top:794px;
  width:261px;
  height:102px;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:9px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:1612px;
  top:803px;
  width:29px;
  height:8px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:1600px;
  top:829px;
  width:250px;
  height:1px;
}
#u1406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:854px;
  width:99px;
  height:16px;
  text-decoration:underline;
  color:#0085BA;
}
#u1407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1388px;
  height:246px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:693px;
  width:1387px;
  height:245px;
}
#u1408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:640px;
  width:139px;
  height:27px;
  font-size:23px;
}
#u1409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:725px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:819px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:768px;
  width:106px;
  height:27px;
}
#u1412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:768px;
  width:106px;
  height:27px;
}
#u1413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:85px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:854px;
  width:1290px;
  height:84px;
}
#u1414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:864px;
  width:1268px;
  height:32px;
}
#u1415_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1268px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:822px;
  width:46px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u1416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
